@import url("./style.css");
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.ah-container {
    max-width: 1200px;
    margin: auto;
}
.explore-title {
    text-align: center;
}
.explore-title p{
    padding: 0;
    margin: 0;
}

.marker-icon {
    background-position: center;
    background-size: 22px 22px;
    border-radius: 50%;
    height: 22px;
    left: 4px;
    position: absolute;
    text-align: center;
    top: 3px;
    transform: rotate(45deg);
    width: 22px;
}

.marker {
    height: 30px;
    width: 30px;
}

.marker-content {
    background: #c30b82;
    border-radius: 50% 50% 50% 0;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    width: 30px;
}

.marker-content::before {
    background: #ffffff;
    border-radius: 50%;
    content: "";
    height: 24px;
    margin: 3px 0 0 3px;
    position: absolute;
    width: 24px;
}

#exploremap {
    height: 50vh; /* Adjust as needed */
}

.map {
    display: block;
    border-radius: 30px;
    margin-bottom: 2rem;

}

.mapContainer {
    margin-top: 2rem;
}

.explore {
    display: grid;
    grid-template-columns: 1fr; /* Initially, one column for mobile */
}

#maplist {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    gap: 20px;
    width: 100%;
}
.ah-cardImage{
    width: 260px;
    height: 260px;
     object-fit: cover; /* Ensure the image covers the container without stretching */

 }

#exploremap {
    height: 50vh;
    width: 100%; /* Full width on mobile */
}

.report-card-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
    margin-left: 50px;
}


.report-card {
    
    padding: 20px;
    min-width: 300px;
    min-height: 530px;
    border-radius: 15px; /* Adjust the value for the desired roundness */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow for better visual appeal */
    display: flex;
    flex-direction: column;
    position: relative; /* Added position relative */
    height: 500px; /* Set height to auto to allow content to determine height */

    margin-bottom: 50px;
    background-color: var( --color-Secondary);
}
.listWrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 75vh; /* Set max-height on the container */
}
.mapboxgl-popup-content {
    max-width: 250px; /* Adjust the width as needed */
    max-height: 300px; /* Adjust the height as needed */
    overflow: hidden;
    border: 1px solid #ccc; /* Add a border for better visibility */
    border-radius: 8px; /* Add rounded corners */
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapPopup {
   
    max-width: 200px; /* Adjust the max-width as needed */
    height: 250px; /* Adjust the max-height as needed */
    overflow: hidden; /* Hide overflow content */
    text-align: center; /* Center text content */
}

.mapboxgl-popup-content .mapPopup img {
    width: 120px;
    height: 120px;
    border-radius: 4px; /* Add rounded corners to the image */
    object-fit: cover; /* Maintain aspect ratio and center the image */
}

.mapboxgl-popup-content .mapPopup h3 {
    font-size: 16px; /* Adjust the font size as needed */
    margin-top: 4px;
}

.mapboxgl-popup-content .mapPopup p {
    font-size: 12px; /* Adjust the font size as needed */
    margin: 2px;
    padding: 0;
}

/* Optional: Add ellipsis (...) for truncated text */
.mapboxgl-popup-content .mapPopup p {
    overflow: hidden;
    text-overflow: ellipsis;
}



.report-card h3 {
    font-size: 18px; /* Adjust font size as needed */
}

.report-card p {
    margin: 5px 0;
}

.report-card img {
    border-radius: 10px;
    max-width: 100%;
    margin-bottom: 20px;
}

.report-card button {
    
    color: var(--color-White);
    border: 1px solid var(--color-Primary);
    background-color: var(--color-Primary);
    border-radius: 30px;
    line-height: 32px;
    /* 200% */
    width: 90%;
    text-decoration-line: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    position: absolute; /* Position absolutely */
    left: 50%; /* Move to the center horizontally */
    transform: translateX(-50%); /* Adjust to center using translate */
    bottom: 10px;
}

.report-card button a {
    text-decoration: none;
    color: #fff;
}


@media screen and (min-width: 768px) {
    /* Adjust layout for desktop screens */
    .explore {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two columns on desktop */
        
    }
    .map{
        grid-column: 2;
        grid-row: 1;
    }

    #maplist {
        display: grid;
        grid-template-rows: 1fr;
       height: 100%;
       grid-column: 1;
       overflow-y: scroll;
    }

    .report-card {
        width: calc(80% - 20px); /* 50% width with margin between cards on desktop */
        padding: 20px;
        min-height: 500px;
        margin-left: 1rem;
        margin: auto;
        
    }

    .listWrapper {
        max-height: 75vh;
        display: flex;
        flex-wrap: nowrap;
        overflow-y: auto; /* Enable vertical scrolling */
        
    }

    .report-card img {
        max-width: 100%;
        min-width: 100%;
        max-height: 500px;
        object-fit: cover;
    }

    #exploremap {
        height: 75vh;
        width: 100%; /* Full width on desktop */
    }
}
